*.pyc
*.tsc
*.bsp
*.bpc
*.bc
*.pkl
*.nc
.DS_Store
docs/.DS_Store
lib/
build/
examples/.ipynb_checkpoints/
pyRTX/visual/.ipynb_checkpoints/
pyRTX/__pycache__/
Notebooks/outputs/*
.coverage
coverage_report.txt
docsrc/_build
docsrc/build.log
*.egg-info
